.title {
  padding: 2rem 0;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 300;
}

h2 {
  font-weight: 700;
  font-size: 1.8rem;
}
.selectWrapper {
  position: relative;
}
.selectDisplayOptions {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 99999;
}
.selectOptionWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 420px;
  max-width: calc(100% - 10vw);
  margin: 0.5rem auto;
  background: #fff;
  color: #000;
}
.closeSelectOption {
  position: absolute;
  width: 4rem;
  height: 4rem;
  right: 0;
  left: calc(50% + 169px);
  color: #000;
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.selectOption {
  max-width: 30rem;
  width: 100%;
  padding: 1rem;
  height: 2rem;
  font-size: 1.6rem;
  border: 1px solid #ccc;
  &:hover {
    cursor: pointer;
    outline: 2px solid var(--sw-color-princ);
  }
}
.inputPrevNext {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
.inputNext, .inputPrev {
  background-color: var(--sw-color-princ);
  padding: 1rem;
  color: #000;
  cursor: pointer;
}
.inputNext {
  margin-left: auto;
}
.inputPrev {
  margin-right: auto;
}


.list {
  @media screen and (min-width: 769px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  &>div {
    padding: 1rem;
  }
}
.listInner {
  display: grid;
  grid-template-areas: 
  'movieTitle movieTitle'
  'category ctas';
  padding: 1rem;
  background-color: #272b30;
  box-shadow: 0 0 1px #ccc;
  text-align: left;
  font-size: 1.5rem;
  color: #fff;
  &:hover {
    background-color: #32383e;
  }
}
.movieTitle {
  grid-area: movieTitle;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
}
.category {
  grid-area: category;
  display: flex;
  align-items: flex-end;
}
.ctas {
  grid-area: ctas;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  .cta, .ctaActive {
    display: inline-flex;
    align-items: center;
    margin-left: 0.5rem;
    cursor: pointer;
    color: #fff;
    svg {
      width: 2.5rem;
    }
    &:disabled {
      opacity: 0.3;
      cursor: initial;
    }
  }
  .ctaActive {
    color: var(--sw-color-princ);
  }
}
.btnDelete {
  display: inline-flex;
  background: none;
  padding: 0.5rem;
  margin-left: 0.5rem;
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  opacity: 0.5;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}
